.temporalText {
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.exitBtn {
  font-size: 12px;
  text-align: center;
  height: 20px;
  width: 50px;
  background-color: bisque;
  border-radius: 4px;
  font-weight: bold;
}
.exitBtnContainer {
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height:20px;
}
