@font-face {

  font-family: 'R-black';
  src:url('./Raleway-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'R-blackItalic';
  src:url('./Raleway-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-bold';
  src:url('./Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'R-boldItalic';
  src:url('./Raleway-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-extraLight';
  src:url('./Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'R-extraLightItalics';
  src:url('./Raleway-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-extraLightItalic';
  src:url('./Raleway-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-light';
  src:url('./Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'R-lightItalic';
  src:url('./Raleway-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-medium';
  src:url('./Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'R-mediumItalic';
  src:url('./Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-regular';
  src:url('./Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'R-semiBold';
  src:url('./Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'R-semiBoldItalic';
  src:url('./Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'R-thin';
  src:url('./Raleway-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'R-thinItalic';
  src:url('./Raleway-ThinItalic.ttf') format('truetype');
}